@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1e2021;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #1f2224;
  }
}

body {
  text-align: center;
  /* added */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

}